@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Syne:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height:100vh;

    background:rgba(46, 45, 43, 0.8);
    user-select: none;
    -webkit-app-region: drag; 
}


.app{
    padding: 16px;
}

.player{
    display: flex;
    position: relative;
    justify-content: center;
    gap: 20px;
    width: 100%;
    /* background-color: black; */
    padding: 10px;
}

#songTitle{
    color: rgba(239, 143, 26, 0.8);
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Syne', sans-serif;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    text-align: center;
    margin-top: -3px;
    margin-right: 15px;
}

.albumCover{
    width:160px;
    height:160px;
    background-color: rgb(146, 87, 16, 1);
    display:flex;
    position: absolute;
    top: 90px;
    left:50px;
    border-radius: 20px;
    z-index: 0;
    background-repeat: no-repeat;
}
.albumCover::after{
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(36, 36, 36);
    left: 0;
    top:0;
    border-radius: 20px;
}
.albumCover::before{
    content:"";
    z-index:-1;
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top:-2px;
    left:-2px;
    background: linear-gradient(
        45deg,
        #FF6A00, #FF7F11, #FF8C1A, #FFA533,
        #FFB347, #FF9A1F, #FF7A00, #FF6A00
    );
    filter: blur(8px);
    background-size: 600%;
    animation: glowing 20s linear infinite;
    transition: opacity .3 ease-in-out;
    border-radius: 20px;
    opacity: 1;
}

.coverImage{
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

/* .progressBar{
    appearance: none;
    -webkit-appearance: none;

    width: 160px;
    height: 8px;
   
    position: absolute; 
    top: 170px;
    left: -70px;

    transform: rotate(-90deg);

    background: rgba(61, 61, 60, 0.8);
    border-radius: 10px;
    outline: none;
    cursor: none;
}

 .progressBar::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: transparent;
    cursor: none;
 } */

 .progressContainer{
    width: 8px;
    height: 160px;

    position: absolute;
    top: 90px;
    left:20px;

    background:rgba(61, 61, 60, 0.8);
    border-radius: 10px;
    overflow: hidden;
 }

 .progressFill{
    width: 100%;
    height:0%;

    position: absolute;
    bottom: 0;

    background: linear-gradient(
        180deg,
        #FF6A00,
        #FFB347,
        #FF7F11,
        #FF6A00
    );

    background-size: 100% 300%;
    animation: liquidFlow 3s linear infinite;
    border-radius: 10px;
 }

 .upVolumeBtn{
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: rgba(239, 143, 26, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    background-image: url(assets/images/volumeUp.png);
    border-radius: 10px;
    outline: none;
    bottom: 290px;
    right:20px;
 }

 .shuffleBtn{
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: rgba(239, 143, 26, 0.8);
    background-repeat: no-repeat;
    background-image: url(assets/images/shuffleIcon.png);
    background-size: 15px;
    border-radius: 10px;
    background-position: center;
    outline: none;
    bottom: 160px;
    right: 20px;
 }

 .loopBtn{
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: rgba(239, 143, 26, 0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("assets/images/loopIcon.png");
    background-size: 15px;
    border-radius: 10px;
    outline: none;
    bottom: 200px;
    right: 20px;
 }
 
.buttons{
    display: flex;
    position:fixed;
    justify-content:center;
    gap: 30px;
    width: 90%;
    bottom: 40px;
    padding: 20px;
    /* background-color: white; */
    left:15px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(239, 143, 26, 0.8);;
    background-color:rgba(46, 45, 43, 0.8);
    border-radius: 18px;
}

.prevBtn{
    position: relative;
    width: 45px;
    height:45px;
    border-radius: 10px;
    background-color: rgba(239, 143, 26, 0.8);
    outline: none;
    font-size: 17px;
    z-index: 0;
}

.skipBtn{
    position: relative;
    width: 45px;
    height:45px;
    border-radius: 10px;
    background-color: rgba(239, 143, 26, 0.8);
    outline: none;
    font-size: 17px;
    z-index: 0;
}

.playBtn{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    font-size: 15px;
    z-index: 0;
    overflow: visible;
}
.playBtn::after{
    content:"";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #333;
    left:0;
    top: 0;
    border-radius: 100px;
} 

.playBtn::before{
    content: "";
    background: linear-gradient(
        45deg,
        #FF0000,#FF7300,#FFFB00,#48FF00,
        #00FFD5,#002BFF,#FF00C8,#FF0000 
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3 ease-in-out;
    border-radius: 10px;
    opacity: 1;
}
@keyframes glowing{
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

@keyframes liquidFlow{
    0%{
        background-position: 50% 0%;
    }
    100%{
        background-position: 50% 300%;
    }
}

button,
input,
textarea,
select{
    -webkit-app-region: no-drag;
    cursor: pointer;
}